.workout_item_head {
    margin-top: 60px;
    display: inline-block;
    padding: 0;
    margin-left: 60px;
}

.workout_item {
    background-color: rgb(37, 36, 36);
    color: rgb(243, 235, 235);
    display: inline-block;
    margin-right: 5px;
    list-style-type: none;
    padding: 5px 12px;
    text-align: center;
    border: 2px solid rgb(37, 36, 36);
    border-radius: 25px;
    font-family: Georgia, serif;
    font-size: 18px;
}

.workout_item:hover {
    cursor: pointer;
}

.workout_main {
    text-align: center;
}