.home_page_post_new {
    width: 800px;
    margin-top: 20px;
    margin-left: 240px;
    background-color: white;
    border: 2px solid rgb(147, 143, 143);
    border-radius: 20px;
}

.home_page_post_head {
    border-top-left-radius: 20px;
    border-bottom: 2px solid rgb(147, 143, 143);
    height: 40px;
    font-size: 26px;
    margin: 8px;
    font-family: inherit;
}

.home_page_post_text {
    width: 600px;
    padding: 40px 100px;
    margin-top: 10px;
    font-size: 22px;
}